* {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12px;
  border: none;
  border-radius: 0;
}

window#waybar {
  background: rgba(20, 20, 20, 0.85);
  color: #ffffff;
}

#workspaces button {
  padding: 0 4px;
  color: #888;
}

#workspaces button.active {
  color: #ffffff;
}

#pulseaudio {
  padding-right: 20px;
}